* {
    margin:0;
    padding:0;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family:'Roboto', sans-serif;
}
.header {
    display:flex;
    justify-content: space-between;
}
.header-logo {
    font-size:24px;
    color:#f9faf8;
    font-weight:700;
}

.header-right {
    display: flex;
    gap:30px;
    color: #e5e7eb;
    font-size:18px;
}

.hero-text {
    padding:200px;
    padding-top: 24px;
    padding-right: 250px;
    background-color: #1f2937;
}

.hero-main-text {
    font-size:48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary {
    color: #e5e7eb;
    font-size:18px;
    text-wrap: wrap;
}

.hero-main {
    display: flex;
    margin-top:120px;
    justify-content: space-between;
    gap: 100px;
}

.hero-image {
    background-color: #6a6c70;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    flex:1;
}

.hero {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    gap:16px;
}
.hero-secondary {
    font-size:18px;
    color: #e5e7eb;
}

.hero-button {
    max-width:140px;
    background-color: #3882f6;
    color:#f9faf8;
    border-radius: 10px;
    border:0px;
    flex-grow:0;
    font-size: 20px;
    padding:8px 24px;
}

.img-text {
    color:whitesmoke;
    font-size: 18px;
}

.info-header {
    text-align: center;
    margin:50px;
    font-size: 36px;
    color:#1f2937;
    font-weight: 900;
}

.content {
    display:flex;
    flex-direction: column;
    gap:16px;
    align-items: center;
    justify-content: center;
}

.blue {
    border: solid;
    border-width: 5px;
    border-color: #486ae3;
    border-radius: 15px;
    min-width: 200px;
height:200px;
}

.info-content {
    display: flex;
    gap:32px;
    justify-content: center;
    align-items: center;
    padding-bottom:120px;
    flex-wrap: wrap;
 
}
.content p {
    width:180px;
    color: grey;
    text-align: center;
}

.quote {
    display:flex;
    flex-direction: column;
    padding:120px;;
    background-color:#e5e7eb;
    /* width:880px; */
    justify-content: center;
    align-items: center;
}
.quote-main {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width:820px;
}

.quote-secondary {
    align-self: flex-end;
    font-weight: 900;
    font-size: 24px;
    width:470px;
}

.action-mother {
    display:flex;
    justify-content: center;
    align-content: center;
    margin:120px;
    margin-left:170px;
}
.action {
    background-color: #3882F6;
    display:flex;
    justify-content: space-between;
    align-content: center;
    padding:50px 50px 50px 100px;
    border-radius: 10px;
    width:900px;
}

.action-hero {
    color:#f9faf8;
    font-size: 24px;
}

.action-secondary{
    color:#f9faf8;
    font-size: 18px;
}

.action-button {
    background-color: #3882F6;
    color:#f9faf8;
    border: solid;
    border-color: #f9faf8;
    border-width: 2px;
    border-radius: 5px;
    align-self: center;
    padding:5px 30px;
    margin-right:70px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color:#f9faf8;
}
